.container{
  padding-left: 250px !important;
  padding-right: 250px !important;
}


.article-image{
  text-align: center;
  margin: auto;
}


h1{
  font-size: 32px;
  font-weight: bold;
}

p{
  line-height: 1.5em;
  font-size: 21px;

}
